<div class="user-details">
  <h1> My Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="dfrws_logo" src="{{ "/assets/img/dfrws_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>DFRWS Multisource Analysis and Correlation Forensic Challenge</h3>
    <p>Preparation of the DFRWS Multisource Analysis and Correlation Forensic Challenge for the year 2021-2022.</p>
    <a class="project-link" href="https://dfrws.org/dfrws-2021-challenge/">Give it a try</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="dfrws_logo" src="{{ "/assets/img/dfrws_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>DFRWS IoT Forensic Challenge</h3>
    <p>Preparation of the DFRWS IoT Forensic Challenge for the year 2018-2019 as a side project of my Master's Thesis "Internet of Things: Traces, Vulnerabilities and Forensic Challenges".</p>
    <a class="project-link" href="https://github.com/dfrws/dfrws2018-challenge">Give it a try</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="icon_logo" src="{{ "/assets/img/icon_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>ICON 2018 Forensic Challenges</h3>
    <p>Preparation of the forensic challenges for 2018 ICON Conference's CTF.</p>
    <a class="project-link" href="https://icon.ngo/icon-2018/">Read More About ICON</a>
  </div>
</div>
